@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> As a young professional, it is very important to begin investing in companies that you believe in. 
    As an investor, you will be able to view all of your shares and trasaction history using the very own Finance Scraper.
    Be able to view your latest stock information and history of scrapes. 
    Enjoy & Invest Responsibly!</p>
